.taskTiger__whatis {
  display: flex;
  flex-direction: column;

  padding: 2rem;
  background: var(--color-footer);
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(255, 221, 210, 1) 0%,
    rgba(226, 149, 120, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(255, 221, 210, 1) 0%,
    rgba(226, 149, 120, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(255, 221, 210, 1) 0%,
    rgba(226, 149, 120, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E29578', endColorstr='#FFDDD2', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(255, 221, 210, 1) 0%,
    rgba(226, 149, 120, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(255, 221, 210, 1) 0%,
    rgba(226, 149, 120, 1) 100%
  );

  filter: drop-shadow(0px 4px 4px rgba(231, 111, 81, 0.3));
}

.taskTiger__whatis-feature {
  display: flex;
}

.taskTiger__whatis-feature .taskTiger__features-container__feature {
  margin: 0;
}

.taskTiger__whatis-feature .taskTiger__features-container_feature-text {
  max-width: 700px;
}

.taskTiger__whatis-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 4rem 0 2rem;
}

.taskTiger__whatis-heading h1 {
  font-size: 34px;
  line-height: 45px;
  font-weight: 800;
  font-family: var(--font-family);
  max-width: 510px;

  color: #ffffff;
}

.taskTiger__whatis-heading p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--color-subtext);
  cursor: pointer;
}

.taskTiger__whatis-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  margin-top: 2rem;
}

.taskTiger__whatis-container .taskTiger__features-container__feature {
  flex: 1;
  margin: 1rem;
  min-width: 210px;
  display: unset;
  flex-direction: column;
}

.taskTiger__whatis-container .taskTiger__features-container_feature-text {
  margin-top: 0.5rem;
}

@media screen and (max-width: 850px) {
  .taskTiger__whatis-heading {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0rem;
  }

  .taskTiger__whatis-heading p {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 650px) {
  .taskTiger__whatis-feature .taskTiger__features-container__feature {
    flex-direction: column;
  }

  .taskTiger__whatis-feature .taskTiger__features-container_feature-text {
    margin-top: 0.5rem;
  }

  .taskTiger__whatis-heading h1 {
    font-size: 28px;
    line-height: 40px;
  }
}

@media screen and (max-width: 350px) {
  .taskTiger__whatis-container .taskTiger__features-container__feature {
    margin: 1rem 0;
    min-width: 100%;
  }
}
